// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error{
    color:red;
}
.container{
    padding-top:10px;
}
form select{
    margin-bottom:10px;
}

.btn-info{
    margin-top:10px;
}